body{
  background-image: url('https://lh3.googleusercontent.com/SdvAY1YxFvAnqlamOQmxKC17ZUmHH852NosaAdT0liUfSmXK86LpyTWrwVhq-zfp6T0c6FZ9z5T70Q-YAB8ppxQ4xQ=w640-h400-e365-rj-sc0x00ffffff');
content: '';
background-repeat: no-repeat; 
background-size: cover;
}


.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    color: white;
font-size: 40px;
margin-top: 40px;
justify-content: space-between;

 }
 li{
  margin-bottom: 40px;
 }
   
   .menu-item {
    position: relative;
    margin-right: 15px;
   
   }
   
   .menu-item:hover .submenu {
    display: block;
   }
   
   .menu-item:hover .menu-link {
    color: red;
   }
   
   .menu-link {
    display: block;
   padding: 10px 20px;
   text-decoration: none;
  
   }
   
   .submenu {
    
   position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    list-style: none;
   padding: 10px;
  cursor: grabbing;
    display: none;
   }
   
   .submenu a {
    margin: 0 auto;
   text-decoration: none;
   }

   